@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap");
#parent_container {
  height: 100%;
  background-color: rgb(31 41 55);
  overflow: hidden;
}
#header_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  margin: 2.5rem 1rem;
  border: 1px solid #d3d3d396;
  border-radius: 0.6rem;
}
@media (min-width: 1024px) {
  #header_links .links {
    display: none;
  }
  #btn {
    display: none;
  }
}

@media (max-width: 1020px) {
  .main {
    max-width: 100%;
  }
}
